<html>
	<head>
		<title> Queer Housing </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesh.css') }}">
	</head>

	<body>
		<div id='navigation_bar'>

			<h1> SiteName/Title </h1>
			<a href="signin.html"><div class= 'sign_in'> Sign In</div></a>
			<div class= 'search'>search</div>
			
		</div>

			<div class= 'center'>
				<img src= "{{ url_for('static', filename='street.jpg') }}">
			</div>

		<div class= 'holder'
>
			<div class = 'house'>Where would you like to go?</div>
			<div class='dates'> When?</div>
			<div class='dates'>How many nights?</div>

		</div>

		<div class = 'paragraph'>

	</body>
</html>
